# Python
venv
__pycache__/
*.pyc
*.pyo
*.pyd

# Node / Next
node_modules
**/node_modules
.next
**/.next
dist
out

# Env files
# .env
#.env.*
# !.env.example

# OS trash
.DS_Store
Thumbs.db

# Logs
*.log

# Git
.git
.gitignore

# Tests & docs
tests
docs
**/tests
**/docs

# Lock files (не нужны в runtime-образе)
pnpm-lock.yaml
yarn.lock
package-lock.json

# AI / Models (ВАЖНО)
inference/llama/models
**/models
*.bin
*.safetensors
*.pt
*.onnx

# Cache
.cache
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker stuff
docker-compose.override.yml
